<p>Cadastro de Novos Jogos</p>


<form action="#" method="post">
    <fieldset>
        <fieldset class="grupo">
            <div class="campo">
                <label for="title">Nome do jogo</label>
                <input type="text" id="title" name="title" style="width: 15em" value="">
            </div>
            <div class="campo">
                <label for="cover">Capa do Jogo</label>
                <input type="text" id="cover" name="cover" style="width: 15em" value="">
            </div>
        </fieldset>

        <div class="campo">
            <label for="description">Descrição do jogo</label>
            <textarea type="text" id="description" name="description" style="width: 15em" value=""></textarea>
        </div>

        <div class="campo">
            <label for="platform">Plataforma do Jogo</label>
            <select type="text" id="platform" name="platform" style="width: 15em" value="">
              <option value="disable selected"> -- Selecione -- </option>
              <option *ngFor="let p of platforms | async" value="{{p.name}}">{{p.name}}</option>
              <option value="outra">Outra</option>


            </select>
        </div>

        <div class="campo">
            <label for="media">Tipo de mídia</label>
            <label><input type="radio" id="media" name="media" value="Física">Física</label>
            <label><input type="radio" id="media" name="media" value="Digital">Digital</label>
        </div>

        <div class="campo">
            <label for="date">Data da Comprar</label>
            <input type="date" id="cover" name="cover" style="width: 15em" value="">
        </div>
        <p>
            <button type="submit" name="submit"><i class="fas fa-fw fa-save"></i>Salvar</button>
        </p>
    </fieldset>
</form>
